{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700&display=swap" rel="stylesheet">
    <title>Scrap handler</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static '/stylesheets/home.css' %}">

</head>

<body>
    <!-- 
        navbar
        banner
        about us
        contact us
        footer
     -->
    <nav id="navbar">
        <div class="icon-group">
            <h1 class="nav-title">CleanSCRAPS &nbsp; <i class="fa-solid fa-recycle"></i></h1>
            <span class="sub-title">SCRAP HANDLER SYSTEM</span>
        </div>
        <a href="{% url 'signup' %}">

            <button id="nav-btn">SIGN UP and get started</button>
        </a>
    </nav>
    <!-- find code for making background color black when the screen is scrolling -->

    <section id="banner" style='background: url("/static/images/green-leaves.jpg")'>
        <h2 class="banner-title">
            Reuse the past, Recycle the present, Save the future
        </h2>

    </section>
    <section id="about-us">
        <h2 id="about-title">About Us</h2>
        <div class="about-contents">

            <p class="about-para">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim vero corrupti in
                aliquid incidunt autem quam, sequi qui sunt corporis nostrum, reiciendis, sapiente recusandae placeat
                dicta. Nulla eos iure impedit facilis et odit reiciendis perferendis excepturi totam dolores quas odio
                doloribus,
                nostrum fugit vel sit nihil quaerat nisi sapiente eveniet corrupti atque! Possimus, repellat libero
                aspernatur dolorum nulla soluta animi commodi, quae labore ex maxime vel iusto perferendis officiis iste
                obcaecati
                quo vero. Laudantium molestias nam recusandae, vitae dolores quia, accusantium labore nobis deserunt
                pariatur voluptatibus officia. Natus, quas dolore, ut magni molestiae sapiente facilis veniam labore
                optio, quisquam architecto?</p>

            <img src="https://industry.pulpandpaper-technology.com/articles/1504182590-top-methods-solid-waste-disposal-management.jpg"
                alt="" class="about-image">

        </div>
    </section>
    <section id="contact-us">
        <h2 id="contact-title">CONTACT US</h2>

        <form action="" class="contact-form">
            <input type="email" placeholder="Enter Your Email" required>
            <textarea name="" id="" cols="30" rows="10" placeholder="Enter Your message"></textarea>
            <input class="submit-btn" type="submit" value="SUBMIT">
        </form>

    </section>
    <footer id="footer">
        <h2>Created by ZION IT COMPANY</h2>
    </footer>


</body>

</html>