<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

</body>
<h1>SIGNIN</h1>
<div class="container">

    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Enter Username">
        <br>
        <br>
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>
    <h5>dont have an Account Click <a href="{%url 'signup'%}">Here</a></h5>
</div>

</html>