{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile(User)</title>
    <link rel="stylesheet" href="{% static 'stylesheets/signup.css' %}">
    <style>
        textarea {
            background: rgb(166, 233, 166);
            font-family: 'Oswald', sans-serif;
        }
    </style>
</head>

<body>
    {% for message in messages %}
    <div class="alert-box">
        <p class="alert-text">{{message}}</p>
    </div>
    {% endfor %}
    <div class="form-contatiner">

        <h2>Update Your Profile </h2>
        <form method="post">
            {% csrf_token %}

            <textarea name="address" id="" cols="45" rows="10" placeholder="Enter Address" required></textarea>
            <br>
            <br>
            <input type="text" name="location" placeholder="Enter you location" required>
            <br>
            <br>
            <label for="">Upload Profile image</label>
            <br>
            <input type="file" accept=".jpg|.png" required>
            <br>
            <button type="submit">Update</button>
        </form>
        <h5>Back to <a href="{%url 'home'%}">Home</a></h5>
    </div>
</body>

<script>
    setTimeout(() => {
        document.querySelector(".alert-box").remove()
    }, 2000)

</script>


</html>