{% extends "users/user-home.html" %}
{% load static %}

{% block content %}
<div class="container p-5">
  <h2 class="text-muted text-center mb-5">Add Your Personal Info </h2>
  <form class="row g-3 needs-validation p-5 shadow-lg" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    <input type="hidden" name="id" value="{{ id }}">
    {% for field in add_scrap_form %}
    <div class="col-md-6 position-relative">
      <label for="validationTooltip01" class="form-label">{{field.label}}</label>
      {{field}}
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
    {% endfor %}

    <div class="col-12">
      <button type="submit" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Confirm
      </button>

      <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-success fs-1 " id="exampleModalLabel">Success</h5>
              <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              your oder on pending
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </form>
</div>
{% endblock %}